page-olvido {
     .backgranund_{
        background: linear-gradient(55deg, #313030 50%, #343333 50%);
    }
    .btn_olvidar_password{
        background:#202020;
        font-family: Tw Cen MT Regular;
        color: white;
        border-radius: 5px;
    }

    .txt_mail_olvido{
        margin-top: 15px;
    }
    .titulo_principal{
        font-family:Tw Cen MT Bold Italic;
        color: white;
    }
    .titulo_secundario{
        font-family: Tw Cen MT Regular;
        color: white;
    }
    .logo_home{
        background: transparent !important;
    }
}
